.card-divs{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;

}
.btn{
  border-radius: 40px;
  height: 100%;
  width:100%;
  text-align: center;
  font-weight: bold;
  padding: 10px;



}
.headofcard{
font-size: 40px;
}
.buttondiv{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.heading{
  text-align: center;
  margin-bottom: 40px;
}
.list-item{
  list-style-type: none;
}
hr{
  width: 100%;
}
.header{
  padding: 20px;
  margin-top: 10px;
}
body{
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(0, 132, 255);
}
.prodiv , .freediv ,.plusdiv{

  margin: 20px;

}

.paraofcard{
  color: rgb(168, 167, 167);
  font-weight: bold;
}
.card{
  border-radius: 30px;
  width: 22rem;

}
.true-content{
  color: black;
}
.false-content{
color: red;
}
.free-button,.plus-button{
  background-color: rgb(50, 163, 233);
}
ul{text-align: left;
padding-left: 10px;}
